**Fin 585R**  
**Diether**  
**Problem Set**  
**Intro to Python/Pandas**  

**Overview**

This problem set is designed to introduce you to using Python for empirical analysis. You can discuss this problem set and get coding help from other students in the class. But you must prepare your own answers. This assignment will be graded based on effort. Do your best, don’t worry if you can’t answer all the questions. We will discuss the problem set in class. You may find [Pandas Documentation](http://pandas.pydata.org/) useful.

*Please submit you Jupyter notebook to Learning Suite before class.*


**Learning Objectives**

The goal of this homework is to give you practice with some of the core concepts I highlighted in the introduction:

+ Getting data into a dataframe and working with this core data structure. For example, hopefully you take advantage of a dataframe's built in functions (methods) to answer some of the questions.<br>

+ Printing out data using various methods.<br>

+ Selecting data and creating variaables using if/then/else logic.<br>

+ Your first use of the groupby/apply pandas programming framework.<br>


**Data Analysis with Python/Pandas**

You can download the data for the problem set here: [Monthly Stock Return and Analyst Data](http://diether.org/prephd/02-mstk_analysts.csv). There is also a link to the data on the schedule page of *Learning Suite*. The data are monthly observations for all stocks listed in the United States during 2020 The data contain the following variables:

|Variable | Description                                              |
|---------|----------------------------------------------------------|
|permno   | stock identifier                                         |
|caldt    | calendar date                                            |
|ticker   | another stock identifier                                 |
|ret      | monthly return                                           |
|prc      | stock price                                              |   
|me       | market value of equity (in millions)                     |
|analysts | number of analysts covering the stock                    |


**Tasks and Questions**

1. Print out the first 10 observations of the data.<br>

2. Create a new column in the dataframe the contains the natural log of (1 + analysts).<br>

3. During June of 2020, what is the price of Hormel's stock? Note, the ticker symbol for Hormel is HRL.<br>

4. What is the average number of analysts covering Tesla during 2023? Note, the ticker symbol for Tesla is TSLA.<br>

5. Creat a new column in the dataframe that is True if the number of analysts is greater than 10 and False otherwise. <br>

6. Harder questions: questions 6-8 increase the difficulty. Do your best. Hint, use the `groupby` command. Compute the number of stocks in the dataframe by month.<br>

8. Compute the aggregate market-cap of all stocks in the dataframe by month.<br>

9. Create a new dataframe (call it sub) that contains all the observations of Google (ticker=GOOG) and Microsoft (MSFT).<br>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('http://diether.org/prephd/02-mstk_analysts.csv',parse_dates=['caldt'])

In [3]:
# 1
df.head(10)

   permno      caldt ticker        prc       ret           me  analysts
0   10026 2020-01-31   JJSF  165.84000 -0.100016  3137.526960       3.0
1   10026 2020-02-28   JJSF  160.82001 -0.030270  3042.553769       2.0
2   10026 2020-03-31   JJSF  121.00000 -0.244031  2285.448000       2.0
3   10026 2020-04-30   JJSF  127.03000  0.049835  2399.342640       2.0
4   10026 2020-05-29   JJSF  128.63000  0.012596  2429.563440       2.0
5   10026 2020-06-30   JJSF  127.13000 -0.007191  2401.231440       2.0
6   10026 2020-07-31   JJSF  123.13000 -0.031464  2326.541350       3.0
7   10026 2020-08-31   JJSF  135.95000  0.104118  2568.775250       3.0
8   10026 2020-09-30   JJSF  130.39000 -0.036668  2466.326850       3.0
9   10026 2020-10-30   JJSF  135.57001  0.039727  2564.306739       2.0

In [4]:
# 2
df["logalyst"] = np.log(1 + df["analysts"])

In [5]:
# 3
result = df.loc[(df["caldt"] == "2020-06-30") & (df["ticker"] == "HRL"), "prc"]
result
# During June of 2020, the price of Hormel's stock is $48.27

114212    48.27
Name: prc, dtype: float64

In [6]:
# 4
df.loc[(df["ticker"] == "TSLA") & (df["caldt"].dt.year == 2023), "analysts"].mean()
# The average number of analysts covering Tesla during 2023 is 32.0833

np.float64(32.083333333333336)

In [7]:
# 5
df["over_ten"] = (df["analysts"] > 10)

In [8]:
# 6
df.groupby('caldt')['permno'].count()

caldt
2020-01-31    3591
2020-02-28    3593
2020-03-31    3586
2020-04-30    3580
2020-05-29    3575
2020-06-30    3580
2020-07-31    3587
2020-08-31    3600
2020-09-30    3629
2020-10-30    3669
2020-11-30    3702
2020-12-31    3738
2021-01-29    3775
2021-02-26    3829
2021-03-31    3925
2021-04-30    4005
2021-05-28    4055
2021-06-30    4103
2021-07-30    4170
2021-08-31    4205
2021-09-30    4246
2021-10-29    4289
2021-11-30    4333
2021-12-31    4375
2022-01-31    4405
2022-02-28    4423
2022-03-31    4432
2022-04-29    4442
2022-05-31    4439
2022-06-30    4433
2022-07-29    4423
2022-08-31    4429
2022-09-30    4428
2022-10-31    4405
2022-11-30    4393
2022-12-30    4303
2023-01-31    4285
2023-02-28    4261
2023-03-31    4226
2023-04-28    4212
2023-05-31    4193
2023-06-30    4179
2023-07-31    4160
2023-08-31    4137
2023-09-29    4123
2023-10-31    4099
2023-11-30    4073
2023-12-29    4032
Name: permno, dtype: int64

In [9]:
# 8 mkcap is in millions
df.groupby('caldt')['me'].sum().round(1)

caldt
2020-01-31    31546840.0
2020-02-28    28942830.4
2020-03-31    25035509.8
2020-04-30    28395941.3
2020-05-29    29962357.1
2020-06-30    30732608.6
2020-07-31    32550922.1
2020-08-31    35034063.1
2020-09-30    33820768.1
2020-10-30    33118043.4
2020-11-30    37265860.4
2020-12-31    39106760.9
2021-01-29    39134094.6
2021-02-26    40280788.6
2021-03-31    41749097.8
2021-04-30    43949648.2
2021-05-28    44088099.8
2021-06-30    45396487.8
2021-07-30    46011290.5
2021-08-31    47317989.4
2021-09-30    45319502.4
2021-10-29    48322694.8
2021-11-30    47610630.4
2021-12-31    49045659.6
2022-01-31    45941177.7
2022-02-28    44864229.5
2022-03-31    46081346.3
2022-04-29    41670422.5
2022-05-31    41429909.4
2022-06-30    37835309.0
2022-07-29    41375996.3
2022-08-31    39769723.5
2022-09-30    36042673.6
2022-10-31    38796660.3
2022-11-30    40529331.2
2022-12-30    37954431.4
2023-01-31    40557220.0
2023-02-28    39499713.6
2023-03-31    40471186.1
2023-04-28    40800718.2
2023-05-31    41022337.4
2023-06-30    43760681.8
2023-07-31    45291539.5
2023-08-31    44247503.6
2023-09-29    42062374.1
2023-10-31    40763456.6
2023-11-30    44413230.5
2023-12-29    46638612.0
Name: me, dtype: float64

In [10]:
# 9 Create a new dataframe (call it sub) that contains all the observations of Google (ticker=GOOG) and Microsoft (MSFT)
sub = df.loc[(df['ticker'] == "GOOG") | (df['ticker'] == "MSFT")]